.wrapper-main
  position: relative
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  flex-direction: column

.container-fluid
  max-width: 1366px
  padding: 20px 24px
  margin: 0 auto
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center


.container 
  max-width: 1150px
  width: 100%
  margin: 0 auto
  padding: 0 15px

.first-screen-wrapper
  height: 768px
  background-repeat: no-repeat
  background-position: center
  margin-top: -121px

.first-screen-wrap
  display: flex
  flex-direction: column

.first-screen__title
  font-weight: normal
  font-size: 60px
  line-height: 77px
  color: #273238
  padding-top: 248px
  max-width: 471px
  margin-bottom: 16px

.first-screen__description
  font-weight: normal
  font-size: 18px
  line-height: 23px
  color: #273238
  max-width: 433px
  margin-bottom: 24px

.first-screen__button
  font-family: Inter
  font-weight: 600
  font-size: 16px
  line-height: 24px
  color: #FFFFFF
  background: #3C5FAC
  border-radius: 94px
  padding: 16px 32px
  width: max-content;
  text-decoration: none