.advantages-wrapper
  padding: 104px 145px 128px
  background: #F5F7F8
  
.advantages-cards
  max-width: 1076px
  display: flex
  flex-wrap: wrap
  margin: -18px auto

.advantages-card
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  margin: 18px 62px
  width: 21%

.advantages-card__img
  width: 120px
  height: 120px

.advantages-card__text
  font-weight: 600
  font-size: 18px
  line-height: 23px
  color: #273238

.work-wrapper
  padding: 104px 145px 128px
  background: #3C5FAC

.work-wrap
  display: flex
  flex-direction: column
  align-items: center

.work__title
  font-weight: 600
  font-size: 36px
  line-height: 46px
  color: #FFFFFF
  margin-bottom: 16px

.work__description
  font-weight: normal
  font-size: 18px
  line-height: 23px
  color: #FFFFFF

.work-cards
  max-width: 1076px
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.work-card
  display: flex
  position: relative
  flex-direction: column
  align-items: center
  text-align: center
  flex-basis: 23.8%
  color: #FFFFFF

.work-card::before
  content: ''
  background: url(/assets/images/index/workUp.svg) no-repeat
  width: 129.5px
  height: 49.5px
  position: absolute
  right: -129.5px
  top: 86px

.work-card:last-child::before
  display: none

.work-card:nth-child(even)
  margin-top: 44px

.work-card:nth-child(even)::before
  background: url(/assets/images/index/workDown.svg) no-repeat
  top: 120px
  
.work-card__title
  font-weight: 600
  font-size: 18px
  line-height: 23px
  margin-bottom: 12px

.work-card__text
  font-weight: normal
  font-size: 16px
  line-height: 20px
  opacity: 0.8

.packages
  display: flex
  flex-direction: column
  align-items: center
  padding: 128px 0

.packages__title
  font-weight: 600
  font-size: 36px
  line-height: 46px
  color: #273238
  margin-bottom: 60px

.packages-wrapper
  display: flex
  flex-direction: column

.packages-wrap
  display: flex
  float: right

.packages-card
  display: flex
  flex-direction: column
  flex-basis: 24%
  margin-right: 40px
  border: 1px solid #CFD8DC
  border-bottom: none
  padding: 24px

.packages-card:first-child
  border: none
  font-weight: 600
  font-size: 16px
  line-height: 20px
  color: #020F2F
  display: flex
  justify-content: center
  padding: 0

.packages-card:last-child
  margin-right: 0

.packages-card > img
  display: flex
  margin: auto 0

.packages-card__title
  font-weight: 600
  font-size: 18px
  line-height: 23px
  color: #273238
  margin-bottom: 12px

.packages-card__text
  font-weight: normal
  font-size: 16px
  line-height: 20px
  color: #273238

.packages-card__button
  font-family: Inter
  font-weight: 600
  font-size: 16px
  line-height: 24px
  color: #FFFFFF
  padding: 18px 0
  width: 100%
  text-align: center
  background: #3C5FAC 
  border-radius: 94px
  margin-top: 24px
  text-decoration: none

.packages-card__button:hover
  box-shadow: 0px 5px 20px 0px #00000040;