.advantages-wrapper
  padding: 104px 145px 128px
  background: #F5F7F8
  
.advantages-cards
  max-width: 1076px
  display: flex
  flex-wrap: wrap
  margin: -18px auto

.advantages-card
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  margin: 18px 62px
  width: 21%

.advantages-card__img
  width: 120px
  height: 120px

.advantages-card__text
  font-weight: 600
  font-size: 18px
  line-height: 23px
  color: #273238