extends _include

block vars
    - var currentUrl = '/index'

block content
    .first-screen-wrapper(style="background-image: url(/assets/images/index/first-screen-bg.png)")
        .container
            .first-screen-wrap
                h1.first-screen__title Service Dog and ESA registration
                span.first-screen__description Register your Service Dog, Emotional Support Dog, or Therapy Dog online
                a.first-screen__button(href="#") Register Now
    .advantages-wrapper
        .container
            .advantages-cards
                    .advantages-card
                        img.advantages-card__img(src="/assets/images/index/advantages1.svg", alt="")
                        span.advantages__text No Pets Restrictions
                    .advantages-card
                        img.advantages-card__img(src="/assets/images/index/advantages2.svg", alt="")
                        span.advantages__text No Pet Deposit or Extra Rent
                    .advantages-card
                        img.advantages-card__img(src="/assets/images/index/advantages3.svg", alt="")
                        span.advantages__text Fly Inside Airplane
                    .advantages-card
                        img.advantages-card__img(src="/assets/images/index/advantages4.svg", alt="")
                        span.advantages__text Take your Service Animal anywhere public has access
                    .advantages-card
                        img.advantages-card__img(src="/assets/images/index/advantages5.svg", alt="")
                        span.advantages__text Avoid fees and restrictions on breed, size, and weight
                    .advantages-card
                        img.advantages-card__img(src="/assets/images/index/advantages6.svg", alt="")
                        span.advantages__text No Breed, Size or Weight Restriction
    .work-wrapper
        .container
            .work-wrap
                span.work__title How It Works
                span.work__description Register your Service or Emotional Support Animal in 3 easy steps.
                .work-cards
                    .work-card
                        img.work-card__img(src="/assets/images/index/work1.svg", alt="")
                        span.work-card__title 1. Select your package
                        span.work-card__text Select the applicable Servise or Emotional Support Animal package
                    .work-card
                        img.work-card__img(src="/assets/images/index/work2.svg", alt="")
                        span.work-card__title 2. Complete the online form
                        span.work-card__text Fill out your and your dog’s information online.
                    .work-card
                        img.work-card__img(src="/assets/images/index/work3.svg", alt="")
                        span.work-card__title 3. Receive your Order
                        span.work-card__text Order will be mailed or gonna be available for the instant download.
    .container
        .packages
            span.packages__title Registration Packages
            .packages-wrapper
                .packages-wrap
                    .packages-card
                        span.packages-card__text-title
                    .packages-card(style="padding-top: 0; border-radius: 5px 5px 0 0;")
                        img.packages-card__img(src="/assets/images/index/packages1.svg")
                        span.packages-card__title Service Dog
                        span.packages-card__text Service dogs help with performing a function for a person that is limited by a disability.
                    .packages-card(style="padding-top: 0; border-radius: 5px 5px 0 0;")
                        img.packages-card__img(src="/assets/images/index/packages2.svg")
                        span.packages-card__title Emotional Support Dog
                        span.packages-card__text Service dogs help with performing a function for a person that is limited by a disability.
                    .packages-card(style="padding-top: 0; border-radius: 5px 5px 0 0;")
                        img.packages-card__img(src="/assets/images/index/packages3.svg")
                        span.packages-card__title Therapy Dog
                        span.packages-card__text Service dogs help with performing a function for a person that is limited by a disability.
                .packages-wrap
                    .packages-card
                        span.packages-card__text-title Partial List of Disabilities Covered
                    .packages-card
                        span.packages-card__text Mobility issues, visual impairment (blindness), hearing impairment (deafness), seizures, diabetes, PTSD, autism, epilepsy, multiple sclerosis (MS), and other physical/mental disabilities
                    .packages-card
                        span.packages-card__text Anxiety, depression, bipolar/mood disorders, panic attacks, and other emotional/psychological conditions
                    .packages-card
                        img(src="/assets/images/index/packages-no.svg")
                .packages-wrap
                    .packages-card
                        span.packages-card__text-title Laws Protecting this Type of Dog
                    .packages-card
                        span.packages-card__text Americans with Disabilities Act (ADA)
                    .packages-card
                        span.packages-card__text Fair Housing Amendments Act Air Carrier Access Act
                    .packages-card
                        img(src="/assets/images/index/packages-no.svg")
                .packages-wrap
                    .packages-card
                        span.packages-card__text-title Breed/Age/Sex of Dogs
                    .packages-card
                        span.packages-card__text Any is acceptable
                    .packages-card
                        span.packages-card__text Any is acceptable
                    .packages-card
                        span.packages-card__text Any is acceptable
                .packages-wrap
                    .packages-card
                        span.packages-card__text-title Fly in airplane for free
                    .packages-card
                        img(src="/assets/images/index/packages-yes.svg")
                    .packages-card
                        img(src="/assets/images/index/packages-yes.svg")
                    .packages-card
                        img(src="/assets/images/index/packages-no.svg")
                .packages-wrap
                    .packages-card
                        span.packages-card__text-title Allowed in all housing regardless of pet policy
                    .packages-card
                        img(src="/assets/images/index/packages-yes.svg")
                    .packages-card
                        img(src="/assets/images/index/packages-yes.svg")
                    .packages-card
                        img(src="/assets/images/index/packages-no.svg")
                .packages-wrap
                    .packages-card
                        span.packages-card__text-title Protected in All 50 States
                    .packages-card(style="border-bottom: 1px solid #CFD8DC; border-radius: 0 0 5px 5px;")
                        img(src="/assets/images/index/packages-yes.svg")
                        a.packages-card__button(href="#") Get Started
                    .packages-card(style="border-bottom: 1px solid #CFD8DC; border-radius: 0 0 5px 5px;")
                        img(src="/assets/images/index/packages-yes.svg")
                        a.packages-card__button(href="#") Get Started
                    .packages-card(style="border-bottom: 1px solid #CFD8DC; border-radius: 0 0 5px 5px;")
                        img(src="/assets/images/index/packages-no.svg")
                        a.packages-card__button(href="#") Get Started

    .certificate-wrapper
        .container
            .certificate-wrap
                .certificate-header
                    .certificate-header-text
                        span.certificate-header-text__title Real Identification Card and Certificate
                        span.certificate-header-text__description The Animal Identification Number is the equivalent of a social security number or vehicle identification number for animals.
                        a.first-screen__button(href="#") Register Now
                    span.certificate-img Certificate
                .certificate-items
                    .certificate-item
                        img(src="/assets/images/index/certificate1.svg")
                        span.certificate-item__title Identification Card
                        span.certificate-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    .certificate-item
                        img(src="/assets/images/index/certificate2.svg")
                        span.certificate-item__title Registration Certificate
                        span.certificate-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    .certificate-item
                        img(src="/assets/images/index/certificate3.svg")
                        span.certificate-item__title 24/7 Online Verification
                        span.certificate-item__text Lorem Ipsum is simply dummy text of the printing and typesetting industry
    .container
        .laws
            span.laws__title Understand the Laws
            span.laws__description It’s important to understand all laws and state regulation in regards to Service and Emotional Support animals. Know your rights!
            .laws-items
                .laws-item
                    .laws-item-header
                        img(src="/assets/images/index/laws1.svg")
                        span.laws-item-header__title Service Animal
                    span.laws-otem__text Under the ADA, State and local governments, businesses, and nonprofit organizations that serve the public generally must allow service animals to accompany people with disabilities in all areas of the facility where the public is allowed to go.
                .laws-item
                    .laws-item-header
                        img(src="/assets/images/index/laws2.svg")
                        span.laws-item-header__title ESA
                    span.laws-otem__text Under the FHA, a disability is defined as a physical or mental impairment which significantly limits a person’s major life activities. Even if a lease says "no pets" or restricts pets, landlords are required to make what is called a “reasonable accommodation” to allow pets who serve as assistance animals, which includes animals who provide emotional support.
    .choose-wrapper
        .container
            .choose-wrap
                span.choose__title.laws__title Why Choose Us?
                span.choose__description.laws__description By using Federal Dog Registry you can be confident that you can bring your animal with you anywhere you go.
                .choose-item
                    img(src="/assets/images/index/choose1.svg")
                    .choose-item-wrap
                        .choose-item-card.active
                            span.choose-item__title.js-choose Instant Registration
                            span.choose-item__text Service dogs help with performing a function for a person that is limited by a disability.
                        .choose-item-card
                            span.choose-item__title.js-choose Licensed Therapists in all 50 States
                            span.choose-item__text Service dogs help with performing a function for a person that is limited by a disability.
                        .choose-item-card
                            span.choose-item__title.js-choose 24/7 Online Registration Verification
                            span.choose-item__text Service dogs help with performing a function for a person that is limited by a disability.
                        .choose-item-card
                            span.choose-item__title.js-choose Valid in all 50 US States
                            span.choose-item__text Service dogs help with performing a function for a person that is limited by a disability.
    .flying-wrapper
        .container
            .flying-wrap
                .flying-text
                    span.flying-text__title.laws__title Flying with a Dog
                    span.flying-text__description.laws__description Travel with your animal by your side with no extra fees or restrictions. To learn more about specific airline requirements click the button down below.
                    a.first-screen__button(href="#") Learn More
                .flying-cards
                    img(src="/assets/images/index/flying1.svg").flyig-cards__img
                    img(src="/assets/images/index/flying2.svg").flyig-cards__img
                    img(src="/assets/images/index/flying3.svg").flyig-cards__img
                    img(src="/assets/images/index/flying4.svg").flyig-cards__img
    .container
        .title-wrapper
            span.title__title.laws__title Title
            .title-wrap
                .title-items
                    .title-item
                        .title-item__number 9.000+
                        .title-item__text Select the applicable Servise or Emotional Support Animal package
                    .title-item
                        .title-item__number 7+
                        .title-item__text Select the applicable Servise or Emotional Support Animal package
                    .title-item
                        .title-item__number 73+
                        .title-item__text Select the applicable Servise or Emotional Support Animal package
                    .title-item
                        .title-item__number 11.000+
                        .title-item__text Select the applicable Servise or Emotional Support Animal package
                .title-slider
                    .swiper-wrapper.title-slider-wrapper
                        .title-slider-slide.swiper-slide
                            .title-slider__img
                                img(src="/assets/images/index/swiper.png")
                            span.title-slider__name Dr. Brian Swirsky, MD
                            span.title-slider__profession Cardiovascular Disease
                        .title-slider-slide.swiper-slide
                            .title-slider__img
                                img(src="/assets/images/index/swiper.png")
                            span.title-slider__name Dr. Brian Swirsky, MD
                            span.title-slider__profession Cardiovascular Disease
                        .title-slider-slide.swiper-slide
                            .title-slider__img
                                img(src="/assets/images/index/swiper.png")
                            span.title-slider__name Dr. Brian Swirsky, MD
                            span.title-slider__profession Cardiovascular Disease
                    .title-slider-pagination
                    .title-slider-next.swiper-button-next
                        img(src="/assets/images/index/swiper-next.svg")
                    .title-slider-prev.swiper-button-prev
                        img(src="/assets/images/index/swiper-prev.svg")
        .register-wrap
            span.register__title Register your Service or ES animal today!
            a.first-screen__button.register__button(href="#") Register Now