mixin footer
    footer
        .container
            .footer-body
                .footer-logo
                    a.footer-logo__img(href="#")
                        img(src="/assets/images/footer/logo.svg")
                    .fooler-social-links
                        a.footer-social-link(href="#")
                            img(src="/assets/images/footer/instagram.svg")
                        a.footer-social-link(href="#")
                            img(src="/assets/images/footer/twitter.svg")
                        a.footer-social-link(href="#")
                            img(src="/assets/images/footer/facebook.svg")
                .footer-links
                    .footer-link
                        .footer-link__title Product
                        .footer-link-wrap
                            a.footer-link__text(href="#") Login
                            a.footer-link__text(href="#") Overview
                            a.footer-link__text(href="#") Digital Pet ID
                            a.footer-link__text(href="#") Identification Card
                            a.footer-link__text(href="#") Certificate
                    .footer-link
                        .footer-link__title Resources
                        .footer-link-wrap
                            a.footer-link__text(href="#") Blog
                            a.footer-link__text(href="#") FAQ
                    .footer-link
                        .footer-link__title Company
                        .footer-link-wrap
                            a.footer-link__text(href="#") Pricing
                            a.footer-link__text(href="#") Privacy Policy
                            a.footer-link__text(href="#") Terms of Use
                            a.footer-link__text(href="#") Contact Us
            span.footer-company © 2020 All Rights Reserved